// Variables for Bulma
@import "variables.scss";
// Bulma
@import "~bulma/bulma.sass";

html {
  background-color: $white-ter;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@include mobile {
  #app {
    padding: 0px;
  }
  .section {
    padding: .5rem .5rem;
  }
}

.table-container {
  overflow-y: hidden;
}

.box {
  border-radius: 0px;
}

@import "helpers.scss";
@import "box-shadow.scss";
